.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
.container > .user__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 35px 0;
  margin: 50px 0;
  box-shadow: 0 0 10px #D3D3D3;
  border-radius: 15px;
  gap: 25px;
}
.container > .user__modal > .user__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.container > .user__modal > .user__form > input {
  font-size: 16px;
  padding: 6px 10px;
  min-height: 35px;
  min-width: 250px;
  border: 1px solid #F3F3F7;
  border-radius: 10px;
  background: #F3F3F7;
}
.container > .user__modal > .user__form > button {
  min-width: 150px;
  padding: 8px 12px;
  border: 1px solid #F48C06;
  border-radius: 15px;
  background: #F48C06;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  transition: 0.1s;
}
.container > .user__modal > .user__form > button:hover {
  filter: brightness(0.95);
}
.container > .user__modal > .user__form > p {
  font-size: 16px;
}
.container > .user__modal > .user__form > p > .link {
  text-decoration: none;
  color: blue;
  transition: 0.1s
}
.container > .user__modal > .user__form > p > .link:hover {
  filter: brightness(0.8);
}
.container > .user__modal > .user__form > .option__container {
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  padding: 2px;
  width: 250px;
  text-align: center;
  transition: 0.15s;
}
.container > .user__modal > .user__form > .option__container:hover {
  background-color: #F3F3F7;
}