.header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.header * {
  text-decoration: none;
  color: #03071E;
}
.header > .top__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #D3D3D3;
}
.header > .top__nav > .nav__item {
  margin-right: 10px;
  color: #8D99AE;
  transition: 0.1s;
}
.header > .top__nav > .nav__item:hover {
  color: #F77F00;
}
.header > .middle__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 100px;
  flex-flow: row nowrap;
}
.header > .middle__nav .logo {
  font-size: 40px;
  color: #F77F00;
  font-weight: bold;
}
.header > .middle__nav > .logo__container > p {
  line-height: 10px;
}
.header > .middle__nav .logo > span {
  color: #D00000;
}
.header > .middle__nav .address {
  font-weight: bold;
}
.header > .middle__nav > .auth__btn {
  padding: 5px 10px;
  border: 1px solid #F3F3F7;
  border-radius: 15px;
  background: #F3F3F7;
  cursor: pointer;
  transition: 0.15s;
}
.header > .middle__nav > .auth__btn:hover {
  filter: brightness(0.9);
}