.cart__container > .cart__items--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
}
.cart__container > .cart__items--container > .cart__item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 5%;
  box-shadow: 0 0 10px #D3D3D3;
  border-radius: 15px;
  width: 85%;
  padding: 10px;
}
.cart__container > .cart__items--container > .cart__item > .img {
  display: flex;
  align-items: center;
}
.cart__container > .cart__items--container > .cart__item > .img > img {
  width: 80px;
  height: 80px;
}
.cart__container > .cart__items--container > .cart__item > .main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
}
.cart__container > .cart__items--container > .cart__item > .main__content > .title {
  font-size: 18px;
}
.cart__container > .cart__items--container > .cart__item > .price {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 18px;
}
.cart__container > .cart__items--container > .cart__item > .main__content > .close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.cart__container > .cart__items--container > .cart__item > .main__content > .close__btn > img {
  width: 20px;
  height: 20px;
}