.header > .bottom__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 8%;
  flex-flow: row nowrap;
}
.header > .bottom__nav .logo {
  font-size: 40px;
  color: #F77F00;
  font-weight: bold;
}
.header > .bottom__nav > .logo__container > p {
  line-height: 10px;
}
.header > .bottom__nav .logo > span {
  color: #D00000;
}
.header > .bottom__nav .address {
  font-weight: bold;
}
.header > .bottom__nav > .auth__btn {
  padding: 5px 10px;
  background: #F3F3F7;
  color: #111;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.15s;
}
.header > .bottom__nav > .auth__btn:hover {
  filter: brightness(0.9);
}