.shop__navbar {
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 40px;
  margin-bottom: 15px;
  padding: 5px 8%;
  z-index: 10;
}
.shop__navbar > .nav__list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.shop__navbar * {
  text-decoration: none;
  color: #03071E;
}
.shop__navbar .nav__link {
  font-weight: bold;
  transition: 0.1s;
}
.shop__navbar .nav__link:hover {
  color: #F77F00;
}
.nav__link--active {
  color: #F77F00;
}
.shop__navbar > .nav__list > .anchor__logo > img {
  width: 40px;
}
.shop__navbar .cart__btn {
  color: #FFF;
  padding: 10px 15px;
  border: 1px solid #F77F00;
  border-radius: 20px;
  background: #F77F00;
  cursor: pointer;
  transition: 0.25s;
}
.shop__navbar .cart__btn:hover {
  filter: brightness(0.95);
}