.cart__container {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: 100vh;
  padding: 20px 0 20px 10px;
  background: #fff;
  text-align: center;
  transition: 0.3s;
  overflow-y: auto;
  scrollbar-gutter: stable;
  z-index: 6;
}
.cart__container > .scroll {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  width: 8px;
  opacity: 0.5;
}
.cart__container > .scroll > .scroll__scrollBar {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background: #111;
  transform: translateY(0);
}
.cart__container > .cart__title {
  font-size: 30px;
  margin-bottom: 8px;
}
.cart__container > .cart__item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 5%;
  box-shadow: 0 0 10px #D3D3D3;
  border-radius: 15px;
  width: 85%;
  padding: 10px;
}
.cart__container > .cart__item > .img {
  display: flex;
  align-items: center;
}
.cart__container > .cart__item > .img > img {
  width: 80px;
  height: 80px;
}
.cart__container > .cart__item > .main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
.cart__container > .cart__item > .main__content > .title {
  font-size: 16px;
}
.cart__container > .cart__item > .main__content > .close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.cart__container > .cart__item > .main__content > .close__btn > img {
  width: 20px;
  height: 20px;
}
.cart__active {
  transform: translate(0);
}
