.cart__container {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(485px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 485px;
  height: 100vh;
  background: #fff;
  padding-top: 20px;
  gap: 20px;
  text-align: center;
  transition: 0.3s;
  overflow-y: auto;
  z-index: 6;
}
.cart__container > .cart__title {
  font-size: 30px;
  margin-bottom: 8px;
}
.cart__container > .cart__footer {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #D3D3D3;
  background: #fff;
}
.cart__container > .cart__footer > .full__price {
  width: 85%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 18px;
}
.cart__container > .cart__footer > .order__link {
  border: 1px solid #F77F00;
  background: #F77F00;
  color: #fff;
  border-radius: 20px;
  padding: 10px 0;
  text-decoration: none;
  transition: 0.1s;
  width: 90%;
}
.cart__container > .cart__footer > .order__link:hover {
  filter: brightness(0.95);
}
.cart__active {
  transform: translate(0);
}
