* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}
html {
  overflow-y: scroll;
}
body {
  font-family: "TT Rounds", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root .container {
  padding: 0 8%;
  flex-grow: 1;
}