* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}
html {
  scrollbar-gutter: stable;
}
body {
  overflow-y: auto;
  font-family: "TT Rounds", sans-serif;
}